.footer {
  @extend %flex-centered-items-space-btw;
  height: 90px;

  @include media-tablet-portrait {
    flex-direction: column;
    line-height: 1.5rem;
  }
}

.copyright {
  @extend %flex-centered-items-space-btw;
  width: 188px;
  padding-right: 20px;

  >small {
    font: inherit;
  }

  @include media-tablet-portrait {
    width: 170px;
    padding: 0;
    margin: 1.7rem auto 0;
  }
}
