.container-video {
  @extend %cursor-default;

  >.section-title {
    margin: 1.25rem auto;
  }

  @include media-tablet-portrait {
    padding-left: 0;
    padding-right: 0;

    >.section-title {
      width: calc(100% / 2.1);

      @include media-phone {
        width: calc((100% / 1.2) - 40px);
        margin: 4rem auto 4rem;
      }
    }
  }
}

.video-settings {
  position: absolute;
  right: 8px;
  bottom: 58px;

  max-height: 80%;
  padding: 12px;

  background-color: rgba(#8fe3ff, 0.8);

  overflow-y: auto;

  @include media-tablet-portrait {
    right: 6px;
    bottom: 48px;

    padding: 6px;
  }

  @include media-phone {
    font-size: 0.6rem;
    bottom: 38px;
  }
}

.video-settings_title {
  margin: 0;
}

.playback-speed,
.step-legth {
  margin-left: 16px;

  @include media-tablet-portrait {
    margin-left: 12px;
  }
}

.playback-speed_variant,
.step-legth_variant {
  position: relative;

  @extend %cursor-pointer;
}

.active-variant {
  font-weight: bolder;
  color: $brand-color;

  &::before {
    content: "✔";
    position: absolute;
    left: -20px;

    @include media-tablet-portrait {
      left: -12px;
    }
  }
}

.video-presentation {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  margin: 0 auto;

  overflow: hidden;
  @extend %transition;
}

.play-video-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  width: 130px;
  height: 130px;
  margin: auto;

  @include mask("../assets/svg/play-button-for-video-player.svg");
  border-radius: 50%;
  border-color: transparent;
  @extend %cursor-pointer;

  @extend %transition;

  &:hover,
  &:focus {
    transform: translateZ(0) scale(.9);
  }

  &:active {
    transform: translateZ(0) scale(1);
  }

  @include media-tablet-portrait {
    width: 65px;
    height: 65px;
  }
}

.video-viewer {
  width: 100%;
  height: auto;
}

.controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  padding: 0;

  background-color: transparent;

  transform: translateY(43px);
  @extend %transition;

  @include media-tablet-portrait {
    height: 40px;

    transform: translateY(36px);
  }

  @include media-phone {
    height: 30px;

    transform: translateY(26px);
  }
}

.video-presentation:hover,
.video-presentation.hover {
  outline: 2px solid $brand-color;

  .controls {
    transform: translateY(0);
  }
}

.controls__first-line,
.controls__second-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;

  @include media-tablet-portrait {
    padding: 0 8px;
  }

  @include media-phone {
    padding: 0 6px;
  }
}

.control-button {
  min-width: 36px;
  height: 36px;
  margin: 0 12px;

  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
  @extend %cursor-pointer;

  @extend %transition;

  @include media-tablet-portrait {
    min-width: 26px;
    height: 26px;
    margin: 0 8px 0 0;
  }

  @include media-phone {
    min-width: 18px;
    height: 18px;
    margin: 0 6px 0 0;
  }
}

.control-button:hover {
  filter: invert(36%) sepia(98%) saturate(472%) hue-rotate(148deg) brightness(95%) contrast(89%);
}

.play-icon {
  background-image: url('../assets/svg/play.svg');
}

.pause-icon {
  background-image: url('../assets/svg/pause.svg');
}

.reload-icon {
  background-image: url('../assets/svg/reload.svg');
}

.step-back-icon {
  background-image: url('../assets/svg/step-back.svg');
}

.step-forward-icon {
  background-image: url('../assets/svg/step-forward.svg');
}

.low-volume-icon {
  background-image: url('../assets/svg/volume-low.svg');
}

.medium-volume-icon {
  background-image: url('../assets/svg/volume-medium.svg');
}

.full-volume-icon {
  background-image: url('../assets/svg/volume-high.svg');
}

.mute-icon {
  background-image: url('../assets/svg/mute.svg');
}

.settings-icon {
  background-image: url('../assets/svg/cog-2.svg');
}

.fullscreen-icon {
  background-image: url('../assets/svg/fullscreen.svg');
}

.fullscreen-exit-icon {
  background-image: url('../assets/svg/fullscreen-exit.svg');
}

.timeline,
.volume {
  height: $line-height;

  @extend %cursor-pointer;
  outline: none;

  @extend %transition;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include media-tablet-portrait {
    height: $line-mobile-height;
  }
}

.timeline {
  width: 100%;
  min-width: 260px;

  background-color: $lines-color;
}

.timeline:hover+.timeline-tooltip {
  display: block;
}

.timeline-tooltip {
  position: absolute;
  left: 0;
  top: -50px;

  display: none;
  padding: 0 6px;

  background-color: rgba($brand-color, 0.6);
}

.volume-container {
  display: flex;
  align-items: center;
  height: $slider-thumb-size;
  width: 120px;
  overflow: hidden;

  @extend %transition;

  @include media-tablet-portrait {
    width: 90px;
  }

  @include media-phone {
    width: 75px;
  }
}

.volume {
  background: linear-gradient(
    to right,
    $brand-color 0%,
    $brand-color 40%,
    $lines-color 40%,
    $lines-color 100%
  );

  opacity: 0;
  transform: translateX(-100%);
  @extend %transition;
}

.volume-container:hover > .volume,
.volume-container:focus > .volume,
.controls__first-line .volume-icon:hover ~ .volume-container .volume,
.controls__first-line .volume-icon:focus ~ .volume-container .volume {
  opacity: 1;
  transform: translateX(0);
}

.timeline::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  width: $slider-thumb-size;
  height: $slider-thumb-size;

  background: $brand-color;
  border-radius: 50%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: ew-resize;

  @include media-tablet-portrait {
    width: $slider-thumb-mobile-size;
    height: $slider-thumb-mobile-size;
  }
}

.time {
  margin: 0 12px;

  @include media-tablet-portrait {
    margin: 0 8px 0 0;
  }

  @include media-phone {
    margin: 0 6px 0 0;
  }
}
