%transition {
  transition: all 0.4s ease-in-out;
}

%transition-short {
  transition: all 0.3s ease-in;
}

%flex-centered-items {
  display: flex;
  align-items: center;
}

%flex-centered-items-space-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-centered-items-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

%flex-centered-justify {
  display: flex;
  justify-content: center;
}
